* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.rule-top {
  height: 20px;
  background: #555555;
  width: 100%;
  position: absolute;
  top: 0;;
  opacity: .5;
}
.rule-left {
  width: 20px;
  background: #555555;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: .5;
}
.y {
  width: 100%;
  height: 1px;
  position: absolute;
  border:1px dashed red;
  box-sizing: border-box;
  cursor: move;
  top: 20px
}

.x {
  height: 100%;
  width: 2px;
  border:1px dashed blue;
  box-sizing: border-box;
  position: absolute;
  cursor: move;
  left: 20px;
}
